# python caches
.pytest_cache
__pycache__

# coverage & html reports
.coverage
htmlcov

# player personal data files
history.txt
history_backup.txt
rounds.csv
rounds_backup.csv
streaks.csv
streaks_backup.csv
stats.csv
stats_backup.csv
